In [1]:
! conda update -n base -c defaults conda--yes
! conda install lxml---yes
import pandas as pd
import numpy as np
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
pd.set_option('display.max_colwidth', -1)
print('Libraries imported.')

PackageNotInstalledError: Package is not installed in prefix.
  prefix: /home/jupyterlab/conda
  package name: conda--yes


Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - lxml---yes

Current channels:

  - https://repo.anaconda.com/pkgs/main/linux-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/free/linux-64
  - https://repo.anaconda.com/pkgs/free/noarch
  - https://repo.anaconda.com/pkgs/r/linux-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/pro/linux-64
  - https://repo.anaconda.com/pkgs/pro/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.


Libraries imported.

In [2]:
wiki_df = pd.read_html(link,header=0)[0]
wiki_df.head()

  Postcode           Borough     Neighbourhood
0  M1A      Not assigned      Not assigned
1  M2A      Not assigned      Not assigned
2  M3A      North York        Parkwoods
3  M4A      North York        Victoria Village
4  M5A      Downtown Toronto  Harbourfront

In [4]:
# Lets see the shape of dataset
wiki_df.shape

(288, 3)

In [5]:
# Renaming the columns
wiki_df.columns = ['PostalCode', 'Borough', 'Neighborhood']
# Extracting Table that has an assigned borrow
wiki_df_a = wiki_df[wiki_df['Borough'] != 'Not assigned']
# Extracting Table that has not assigned borrow
wiki_df_na = wiki_df[wiki_df['Borough'] == 'Not assigned']

In [6]:
# Lets check out the shape for each assigned and not assigned borrow
print(wiki_df_a.shape)
print(wiki_df_na.shape)

(211, 3)
(77, 3)

In [7]:
# Group by postcode
wiki_df_grouped = wiki_df_a.groupby('PostalCode')
#  These are the keys by which the table is grouped
wiki_df_grouped.groups.keys()

dict_keys(['M1B', 'M1C', 'M1E', 'M1G', 'M1H', 'M1J', 'M1K', 'M1L', 'M1M', 'M1N', 'M1P', 'M1R', 'M1S', 'M1T', 'M1V', 'M1W', 'M1X', 'M2H', 'M2J', 'M2K', 'M2L', 'M2M', 'M2N', 'M2P', 'M2R', 'M3A', 'M3B', 'M3C', 'M3H', 'M3J', 'M3K', 'M3L', 'M3M', 'M3N', 'M4A', 'M4B', 'M4C', 'M4E', 'M4G', 'M4H', 'M4J', 'M4K', 'M4L', 'M4M', 'M4N', 'M4P', 'M4R', 'M4S', 'M4T', 'M4V', 'M4W', 'M4X', 'M4Y', 'M5A', 'M5B', 'M5C', 'M5E', 'M5G', 'M5H', 'M5J', 'M5K', 'M5L', 'M5M', 'M5N', 'M5P', 'M5R', 'M5S', 'M5T', 'M5V', 'M5W', 'M5X', 'M6A', 'M6B', 'M6C', 'M6E', 'M6G', 'M6H', 'M6J', 'M6K', 'M6L', 'M6M', 'M6N', 'M6P', 'M6R', 'M6S', 'M7A', 'M7R', 'M7Y', 'M8V', 'M8W', 'M8X', 'M8Y', 'M8Z', 'M9A', 'M9B', 'M9C', 'M9L', 'M9M', 'M9N', 'M9P', 'M9R', 'M9V', 'M9W'])

In [9]:

# Lets check out one of the group
wiki_df_grouped.get_group('M5G')

   PostalCode           Borough        Neighborhood
57  M5G        Downtown Toronto  Central Bay Street

In [11]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood']

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

neighborhoods

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [12]:
def add_comma_neighbor(grp):
    '''
    This function return the borough as well as Neighbor hood for each group combined or joined with comma.
    '''
    return wiki_df_grouped.get_group(grp)['Borough'].iloc[0], ", ".join(wiki_df_grouped.get_group(grp)['Neighborhood'])

In [13]:
# Looping for each group and appending the result to our empty neighborhoods dataframe just created
for grp in wiki_df_grouped.groups.keys():
    borough, neighbor = add_comma_neighbor(grp)
    neighborhoods = neighborhoods.append({'PostalCode' : grp,
                                          'Borough': borough,
                                          'Neighborhood': neighbor
                                         }, ignore_index=True)
neighborhoods.head()

  PostalCode      Borough                            Neighborhood
0  M1B        Scarborough  Rouge, Malvern
1  M1C        Scarborough  Highland Creek, Rouge Hill, Port Union
2  M1E        Scarborough  Guildwood, Morningside, West Hill
3  M1G        Scarborough  Woburn
4  M1H        Scarborough  Cedarbrae

In [14]:
# Lets verify our results
neighborhoods[neighborhoods['PostalCode'] == "M9V"]

,PostalCode,Borough,Neighborhood
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, Jamestown, Mount Olive, Silverstone, South Steeles, Thistletown"

In [16]:
# Lets check which are the rows that have Neighborhood as "Not assigned"
neighborhoods[neighborhoods['Neighborhood'] == 'Not assigned']

   PostalCode       Borough  Neighborhood
85  M7A        Queen's Park  Not assigned

In [17]:
neighborhoods.loc[neighborhoods['Neighborhood'] == 'Not assigned', 'Neighborhood'] = neighborhoods[neighborhoods['Neighborhood'] == 'Not assigned']['Borough']

In [18]:

neighborhoods[neighborhoods['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [19]:
# Lets verify
neighborhoods[neighborhoods['PostalCode'] == 'M7A']

   PostalCode       Borough  Neighborhood
85  M7A        Queen's Park  Queen's Park

In [20]:
neighborhoods.shape

(103, 3)